@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;1,400;1,600;1,700&display=swap');

table{
    width: 43%;
}
td{
    border: 2px solid rgb(73, 24, 24);
    text-align: center;
}



body{
    background-color: rgb(196, 212, 212);
}


/* Link grafic rules */
a{
  color: black;
  font-size: 1.1em;
  cursor: pointer;
  text-underline-offset: 1;
}
a:link {
  color: rgb(46, 49, 46);
}
a:visited {
  color: rgb(46, 49, 46);
}
a:hover {
  color: rgb(46, 49, 46);
}
a:active {
  color: rgb(46, 49, 46);
}

