<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">    
    <title>Shop Page - Home Page </title>
</head>
<body class="w-100">
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
            <a class="navbar-brand" href="#">Shop Online</a>
            <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home</a>
                        <a href="./login.html" target="_blank">Vai al back-office</a>
                    </li>
                    <!-- Aggiungi altre voci di navigazione qui -->
                </ul>
                <form class="my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Cerca" aria-label="Cerca">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Cerca</button>
                </form>
            </div>
        </nav>
    </header>
    <main>
        <!-- hero section -->
        <div class="jumbotron">
            <h1 class="display-4">Benvenuto nel nostro shop online!</h1>
            <p class="lead">Qui troverai una vasta selezione di prodotti.</p>
          </div>
        <!-- grid product section -->
        <div class="container">
            <div class="row">
            </div>
          </div>
    </main>



    <script src="../js/shop-script.js"></script>
</body>
</html>