/* general container */
.home-container {
    position: relative;
}

.mt-fix{
    margin-top: 6rem !important;
}

/* hero rules with video */

.hero{
    display: none;
}

.netflix-home-video {
    width: 100%;
    z-index: 10;
    position: relative;
}

.netflix-home-video .top {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 40px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0), rgb(0, 0, 0));
}

.netflix-home-video .bottom {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 30px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #141414);
}
.netflix-home-video video {
    width: 100%;
}

.netflix-home-video .content {
    position: absolute;
    top: 0%;
    width: 100%;
    z-index: 100;
    display: flex;
}

.netflix-home-video .content .left {
    margin-left: 80px;
}

.netflix-home-video .content .left img {
    margin-top: 190px;
}

.netflix-home-video .content .right {
    width: 50%;
}


.card {
    width: 250px;
    background-color: #141414;
    border-radius: 4px;
    transition: 0.2s linear;
    margin: 3px;
    position: relative;
}

.card:hover {
    transform: scaleX(1.4) scaleY(1.4);
    z-index: 10;
}

.card-body {
    display: none;
    padding: 10px 15px;
    position: absolute;
    background-color: #141414;
    top: 120px;
    width: 100%;
}

.card-icon {
    color: #fff;
    padding: 0px !important;
    font-size: 28px;
    border-radius: 50%;
    cursor: pointer;
}

.card:hover > .card-body {
    display: block;
}

.carousel-inner {
    position: relative;
    overflow: visible;
}

.carousel-control-prev {
    display: none;
}

.carousel-control-next {
    display: none;
}

.tab-change-btn {
    border: none;
    width: 30px;
}

.margin-right {
    margin-right: 100px;
}

.netflix-card-text {
    color: rgb(0, 186, 0);
    font-size: 12px;
}

.position-slider2 {
    top: 10px;
    position: absolute;
}

.margin-title2 {
    margin-top: 33px;
}

.position-slider3 {
    top: 10px;
    position: absolute;
}

ul {
    list-style: none;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.367);
    font-weight: 100;
}

.service-btn {
    background-color: transparent;
    margin-left: 30px;
    color: rgba(255, 255, 255, 0.367);
    border: 1px solid rgba(255, 255, 255, 0.367);
    font-size: 15px;
    font-weight: 100;
}

.copy-right {
    font-size: 15px;
    font-weight: 200;
    color: rgb(139, 139, 139);
    margin-left: 28px;
}
