/* General Rules */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


/* Body Rules */

body{
    color: #393d41;
    font-size: 1.2rem;
    font-family: 'Open Sans';
    line-height: 1.6rem;
    text-align: center;
    min-width: 1366px;
    margin: 0;
}

p{
    font-family: 'Open Sans';
}

/* Header Rules */

header{
    background-color: black;
    
}

#logo{
    width: 160px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Main  Rules */

#banner{
    background-image: url(../assets/img/banner.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 10px;
}

#partiamo{
    background-color: #f04c2f;
    border-radius: 5px;
    color: white;
    font-family: "Monteserrat";
    font-weight: bold;
    text-decoration: none;
}

h1, h2{
    color: #25a2c3;
    font-family: 'Montserrat';
    line-height: 1.5rem;
    font-weight: bold;
    
}

#notebook{
    position: left;
    border-radius: 50%;
    width: 300px;
    height: auto;
    float: left;
}

/* Aside Rules */

#ceo{
    background-color: #e22d0e;
    color: white;
    padding: 10px;
}


.asides{
    width: 50%;
    height: auto;
    border: 1px solid #dbdbda;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: #393d41;
    float: left;
    
}

.asides p{
    padding-inline-start: 5px;
    padding-inline-end: 5px;
}

.asides_img{
    width: 50%;
    height: auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

h3{
    color: #25a2c3;
    font-family: 'Montserrat';
    line-height: 1.5rem;
    font-weight: bold;
}


/* Footer Rules */ 

footer{
    background-color: #25a2c3;
    text-align: center;
    color: white;
    display: block;
}

hr{
   color: white;
   size: 1;
}

a{
    color: white;
}

i{
    display: inline;
}