@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* IMPOSTAZIONI GENERALI */

#background{
    padding: 20px;
    background-image: url(../assets/img/sfondo.png);
    min-height: 500px;
    min-width: 0;
    background-size: contain;
    background-repeat: repeat;
    background-size: 80%;
    background-position: center;
    background-color: #000;
}
/* HEADER */
#header{
        max-height: 200px;
        padding: 15px;
        background-color: #3b7f9e;
        font-family: 'Poppins';
        color: white;
        text-align: center;
}
#logo{}
#menu{
    font-family: 'Poppins';
    text-align: center;
    color: white
}
a{
    color: white;
    
}
/* MAIN */

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
