/* style shit */
/* colore header sfondo amazon #283241
    colore menu sfondo #394857
    colore sfondo primo gift  #f36900
    colore sfondo main #e7ebec
    colore testo link negli articoli #235d72
    colore sfondo articoli orizzontali #fefefe

footer primo colore sfondo #394859
footer secondo colore sfondo #283241

/* BODY */ 

/* HEADER */
#logo_top{
    width: 150px;
}
#testa{
    background-color:#283241 ;
   
}
.menu{
    background-color:#394857 ;
    
}
ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
   
}

.a_menu{
    color: white;
    flex-direction: row ;
    border-left: 5px;

    
}

/* MAIN */
#banner{
    display: flex;
    background-color:#f36900 ;
    justify-content: center;
}

h1{
    font-weight: bold;
    font-family: Arial ;
}
#holidaygift{
    background-image: url(../assets/images/bg-image.png);
    text-align: center;
    color: white;
    background-size: 100% 100%;

}

div.article{
    display: flex;
    flex-direction: row;
   
    
}
.item{
    display: inline
    m

}
.item_small{
    height: fit-content;
    border-radius: 5px;
    size-adjust: 100%;
    
}


/* ASIDE */

aside{
    display: flex;
    flex-direction: column;
}

.img_itemsbig{
    max-width: 150px;
}
/* FOOTER */ 

footer{
    background-color: #283241;
}

#footer{
    background-color: #394859;
    text-align: center;
}

#logo_footer{
    
    background-size: cover;
    align-items: center;
    width: 250px;
}