<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>My Shop | Simone Iengo</title>
</head>
<body class="bg-dark">
 <main class="text-white">
    <h2>Pagina di Login al Back-office</h2>
    <form id="loginForm">
        <label for="userid">ID Utente:</label><br>
        <input type="text" id="userid" name="userid"><br>
        <label for="pwd">Password:</label><br>
        <input type="password" id="pwd" name="pwd"><br>
        <input type="submit" value="Accedi">
    </form>
 </main>

 <script src="../js/login-script.js"></script>
</body>
</html>