<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="../../assets/img/img1.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Autorent: Il tuo Autosalone di fiducia</h1>
      <p class="lead">Auto nuove o scassate, a prezzo buono!. Accattatavill Signooooo''' ! </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Esplora</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Over faje ?</button>
      </div>
    </div>
    <h2>I nostri Marchi</h2>
    <div class="img-fluid">
      <img src="../../assets/img/audi.png" alt="" routerLink="/audibrand">
      <img src="../../assets/img/fiat.png" alt="" routerLink="/fiatbrand">
      <img src="../../assets/img/ford.png" alt="" routerLink="/fordbrand">
    </div>
  </div>
</div>
