<input type="search" class="rounded-2 border border-0 mb-2 px-2 py-1" placeholder="Search" (input)="updateSearchTerm($event)">
<div *ngFor="let todo of todos" class="task-badge p-2 px-3 my-2 d-flex align-items-start gap-1 shadow-sm rounded-4"
  [ngClass]="{'bg-success-subtle': todo.completed, 'bg-danger-subtle': !todo.completed}">
  <input class="mt-2" type="checkbox" [(ngModel)]="todo.completed" (change)="updateTodoStatus(todo)">
  <div>
    <h6 class="fw-bold my-1">{{ todo.todo }}</h6>
    <small class="m-0">Chi se ne occupa: {{ getUserById(todo.userId)?.firstName }} {{ getUserById(todo.userId)?.lastName }}</small>
  </div>
</div>
