/* foglio stile grafica */
/* font google open */ 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');



/* Body */ 
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to bottom right, rgb(72, 37, 197),rgb(54, 176, 192));
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content{
    background-color: #fff;
    min-height: 400px;
    width: 540px;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #3f3b3b;

}

input[type = "text"]{
    font-size: medium;
    margin-top: 50px;
    margin-bottom: 10px;
    width: 80%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
}

button{
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li{
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.delete-btn{
    background-color: #ca717a;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}