/* google fonts */ 

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* article rules */ 

.article-container{
    display: flex;
    background-color: #fbf7e3;
    min-width: 500px;
    min-height: 400px;
    border-radius: 50px;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
}

.article-container img{
    width: 300px;
    float: left;
    padding: 25px 25px 15px 25px;
    aspect-ratio: 1/1;
}

.article-container h2{
    font-family: 'Roboto', sans-serif;
    color: #70321c;
    font-weight: 600;
    font-size: 22px;
    padding: 25px 15px 25px 15px ;
    
}

.article-container p{
    font-family: 'Roboto', sans-serif;
    color: #70321c;
    font-weight: 400;
    font-size: 16px;
    padding-left: 25px;
    padding-bottom: 10px;
}

@media screen and (max-width: 540px){}