/* google fonts */ 

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



/* product card */
body{
    margin: 15px;
}

.container-product{
    position: relative;
    background-color: #fbf7e3;
    border-radius: 60px;
    height: 300px;
    width: 230px;
}

.container-product .product-img{
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    width: 230px;
    aspect-ratio: 0.8/0.6;
    
}

.container-product h3{
    color: #70321c;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding-top: 20px;
    padding-left: 10px;
}

.container-product .product-description{
    color: #70321c;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    padding-left: 25px;
}

.container-product .price{
    position: absolute;
    top: 200px;
    left: 170px;
    color: #70321c;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.container-product .add-cart-btn{
    position: absolute;
    top: 250px;
    left: 55px;
    width: 120px;
    height: 40px;
    background-color: #f3df85;
    border: none;
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;
    color: #70321c;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}
/* */ 