/* google fonts e color */ 
/* color #ffc017  => giallo sfondo */
/* color #191919  => black mezzanotte */
/* color #1a8917  => verde hulk */

@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');



/* header rules */ 

.head-container{
    background-color: #ffc017;
    height: 12vh;
    width: 100%;
    display: flex;
    justify-items: center;
    border-bottom: 1px solid black;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding-left: 7%;
    padding-right: 7%;
}


.head-container img{
    width: 200px;
    padding-left: 50px;
    cursor: grab; /* eggs */ 
}

.head-container nav{
    display: flex;
    gap: 8px;
    align-items: center;

}

.head-container nav a{
    text-decoration: none;
    color: #000;
    cursor: pointer;    
}

.head-container nav .getStarted-btn{
    background: #000;
    color: #fff;
    text-align: center;
    padding: 5px 12px;
    border-radius: 30px;
}

/* main article rules*/ 

.wrapper{
    display: flex;
    background-color: #ffc017;
    align-items: center;
    justify-content: space-between;
}

.wrapper .wrapper-container{
    display: flex;
    flex-wrap: wrap;
    padding: 50px;    
}

.wrapper .wrapper-container h1{
    font-size: 64px;
    width: 400px;
}

.wrapper .wrapper-container p{
    font-size: 24px;
    width: 400px;    
}

.wrapper .wrapper-container .btn{
    position: relative;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border: none;
    padding: 8px 12px;
    border-radius: 30px;
}

/ 