/* inserimento variabili e altri files */

@import 'reset';
@import 'font';
@import 'color';
@import 'btn';




/* nav bar style */ 
.all-container{
    position: relative;
    width: 1400px;
    height: 100vh;
    background: $bghero;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: $bghero;
}

ul{
    display: flex;    
}

/* hero styles */ 

.hero-container{
    width: 450px;
    margin: 15px;
    padding-top: 150px ;
    padding-left: 50px;
}

.relative-img{
    position: absolute;
    bottom: -100;

    width: 250px;
    top: 30;
    left: 150;
}

.btn{
    transition: all 0.3s ease;
    &:hover {
        transform: scale(1.1);
    }
    &.discover {
        background: nth($buttonscolor,1);
    }
    &.login {
        background: nth($buttonscolor,2);
    }
    &.contact {
        background: nth($buttonscolor,3);
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
